REACT_APP_API_URL=https://interview-api.labnote.co/api
REACT_APP_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnRlcnZpZXdlZSI6IjY0NThmY2RlNDE1MGRjNmMxNGRlZWM4OSIsInNlY3JldCI6IiQyYiQxMSQzMTRmMEtxeVBzUXBUekhWemU0TmFlREpqaXZDRTczZmVTemVlVlc5ZTYyVk5welE5Uy5FdSIsImlhdCI6MTY4MzU1MzUwMiwiZXhwIjoxNjk0Nzg1NTAyfQ.u8volMtfTQVvhne90ZL3W5juLKsMpNxjjsbD4TslqmY